// Place all the styles related to the Restaurant controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.resto_card {
  background-color: rgb(240, 240, 240);
  margin: 20px;
  padding: 20px;
}

.comment {
  background-color: white;
}
